<!DOCTYPE html>
<html dir="rtl">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

    <div class="menu-container">
      <img src="assets/x.jpg" alt="Picture" class="menu-image">

      <button class="menu-button" routerLink="app-user-details">הוסף מבוטח חדש</button>
      <button class="menu-button" routerLink="app-user-list">רשימת מבוטחים</button>
      <button class="menu-button" routerLink="app-about-me">מי אני</button>
      <button class="menu-button" routerLink="app-read-me">ReadMe</button>

    </div>
  </body>
</html>
